<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice do Brian :&rpar;</title>
      <link href="style.css" rel="stylesheet" type="text/css">
      <script src="main.js" async defer></script>
    </head>
   <body>
      <div class="container">
         <h1>Timestamp Microservice do Brian :&rpar;</h1>
         <form id="data-simples">
            <h2>Data Simples</h2>
            <p>Insira uma data ou timestamp</p>
            <input type="text" placeholder="Data ou Timestamp" name="data">
            <p>Insira o fuso horário (opcional)</p>
            <input type="text" placeholder="Fuso Horário" name="fuso">
            <button type="submit" id="submit">Enviar</button>
            <div id="result">
              <h3>Resultado:</h3>
              <p>Unix:</p>
              <p>UTC:</p></div>
         </form>
         <form id="diferenca">
            <h2>Diferença entre duas datas</h2>
            <p>Insira a primeira data</p>
            <input type="text" placeholder="Data ou timestamp 1" name="data1">
            <p>Insira a segunda data</p>
            <input type="text" placeholder="Data ou timestamp 2" name="data2">
            <button type="submit" id="submit">Enviar</button>
            <div id="result">
              <h3>Resultado:</h3>
              <p>Data 1:</p>
              <p>Data 2:</p>
              <h5>Diferença:</h5>
              <p>Dias:
              <p>Horas:</p>
              <p>Minutos:</p>
              <p>Segundos:</p>
            </div>
         </form>
         <div id="result"></div>
      </div>
  </body>
</html>
