body{
  background-color:grey;
}

#titulo-principal{
  text-align: center;
  color: white;
}

#tutorial{
  text-align: center;
  color: white;
}

table, th, td { /*estilo da tabela*/
    border: 1px solid black;/* adiciona bordas*/
    border-collapse: collapse;
  }

th, td {/*estilo das colunas e rows da tabela*/
    padding: 10px;
  }